.env
.idea/*
venv
.democrat_admin/db.sqlite3
**/__pycache__/
.env.rel
democrat_admin/democrat_db.sqlite3
democrat_admin/democrat_admin/democrat_db.sqlite3
deploy.sh
deploy_pass.exp
tg_bot/handlers/__pycache__/
tg_bot/misc/__pycache__/
tg_bot/keyboards/__pycache__/
tg_bot/middleware/__pycache__/
tg_bot/models/__pycache__/
tg_bot/services/__pycache__/
tg_bot/filters/__pycache__/
.democrat_admin/static/
/docker-compose.yml
/Dockerfile
